
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-left">
            <a href="#/" class="btn" style="font-size:24px" role="button"><i class="material-icons">arrow_back</i></a>

        </ul>
        <ul class="nav navbar-nav">
            <li>Aggiungi Contatto</li>
        </ul>
    </div>
</nav>


<!-- ng-model binds the value of HTML controls (input, select, textarea) to application data.
     Two-Way Binding: The binding goes both ways -->
<div class="col-sm-6 offset-sm-3">
    <form>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input ng-model="nameModel" type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" >

        </div>
        <div class="form-group">
            <label for="surnameInput">Surname</label>
            <input ng-model="surnameModel" type="text" class="form-control" id="surnameInput" >
        </div>
        <div class="form-group">
            <label for="mailInput">mail</label>
            <input ng-model="mailModel" type="email" class="form-control" id="mailInput">
        </div>
        <div class="form-group">
            <label for="phoneInput">phone</label>
            <input ng-model="phoneModel" type="tel" class="form-control" id="phoneInput">
        </div>
        <div class="form-group">
            <label for="notesInput">notes</label>
            <textarea ng-model="notesModel" class="form-control" rows="5" placeholder="massimo 240 caratteri" id="notesInput" maxlength="240"></textarea>
        </div>

        <!-- sendData() is defined in controller 'addCtrl'   -->
        <button ng-click="sendData()" type="submit" class="btn btn-primary">Add Contact</button>
    </form>






</div>
